<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
	<servlet>
		<servlet-name>youfollowme</servlet-name>
		<jsp-file>/jsp/youfollowme.jsp</jsp-file>
	</servlet>
	<servlet>
	  <servlet-name>savesocialprofileservlet</servlet-name>
	  <servlet-class>ca.mcgill.youfollowdotme.SaveSocialProfileServlet</servlet-class>
	</servlet>
	<servlet>
      <servlet-name>checkservlet</servlet-name>
      <servlet-class>ca.mcgill.youfollowdotme.CheckAvailServlet</servlet-class>
    </servlet>
    <servlet>
      <servlet-name>fetchservlet</servlet-name>
      <servlet-class>ca.mcgill.youfollowdotme.FetchDataServlet</servlet-class>
    </servlet>
	<servlet-mapping>
		<servlet-name>youfollowme</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
        <servlet-name>fetchservlet</servlet-name>
        <url-pattern>/fetch/*</url-pattern>
    </servlet-mapping>
	<servlet-mapping>
        <servlet-name>checkservlet</servlet-name>
        <url-pattern>/check/*</url-pattern>
    </servlet-mapping>
	<servlet-mapping>
		<servlet-name>savesocialprofileservlet</servlet-name>
		<url-pattern>/save/*</url-pattern>
	</servlet-mapping>
	<!-- <welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list> -->
</web-app>
